<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{'/css/header.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/normalize.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/technologies.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/projects.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/contact.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/project-page.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/root.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/about.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/responsive.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/normalize.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/utility.css' | url | safe}}">
  <link rel="stylesheet" href="{{'/css/prose.css' | url | safe}}">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Frontend software developer who builds sites and apps that help people reach their personal and professional goals."/>
  <title>{{ title }}</title>
</head>
<body>
    {% include "header.njk" %}
  <div class="content">
    <main class="main container">
      {{ content | safe }}
    </main>
  </div>
  {% include "footer.njk" %}
  <script>
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".header__links");
const navLink = document.querySelectorAll(".header__link");

hamburger.addEventListener("click", mobileMenu);
navLink.forEach(n => n.addEventListener("click", closeMenu));

function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}

function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}
  </script>
</body>
</html>