<section class="profile">
  <div class="profile__image-wrapper">
    {% EleventyImage "/images/profile.jpg", "Marie Jackson, Software Developer", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
    <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Amaan</span>, a Software developer from Cape Town, South Africa</p>
    <p class="profile__text">As a <span class="profile__text--highlight">Front-end Developer</span>, I love doing personal projects that are new in order to gain new skills</p>
    <p class="profile__text">I focus on speed and scalability, using Angular and Node.js to develop dynamic experiences</p>
    <p class="profile__text">I'm always open to new opportunities and projects. So don't hesitate to <a class="profile__link" href="/contact">get in touch</a>.<p>
  </div>
</section>