/* Prose Styles */
  
.prose {
    font-size: 1.125rem;
    color: aliceblue;
  }
  
  .prose h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: aliceblue;
  }
  
  .prose ul {
    margin-bottom: 1rem;
  }
  
  .prose ul > li {
    position: relative;
    padding-left: 1.75em;
  }
  
  .prose ul > li::before {
    content: "";
    position: absolute;
    width: 0.375em;
    height: 0.375em;
    top: 0.6875em;
    left: 0.25em;
    border-radius: 50%;
    background-color: aliceblue;
  }
  
  .prose p {
    margin-bottom: 1.25rem;
  }
  