  @media (min-width: 768px) {
    .header__title {
      margin-bottom: 0;
    }
  
    .profile {
      flex-direction: row;
    }
  
    .profile__image-wrapper img {
      margin: 4rem;
    }
    .project {
      width: 70%;
      max-width: 1024px;
    }

  }

  @media (max-width: 768px) {
    .header .header__links {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

    .header.header.container{
      margin-bottom: 64px ;
      align-items: center;
    }

    .header .header__title{
      margin: 0 0 0 0;
    }
    .hamburger{
      display: block;
      cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .header__links.active{
      left: 0;
    }
  }
