---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">My story</h2>
 <p>
    Hey, So my name is Amaan Omar and I've been a developer for the last 2 years. While I began my professional dev journey shortly after I graduateed from high school, 
    I've always had a passion for computers and technology and began learning my first language c++ since I was in 7th grade. I wanted to do game development because video games were always another passion of mine. 
    I developed a mobile game using unity where you dodge blocks as a block, kind of an infinite runner game.
  </p>
    After that however I mostly stopped developing and haven't done much in high school until I decided to pick it up again in 11th grade after we did HTML in computer class. This was the big turning point for me I think.
    I learned basic front-end development and began learning javascript in my spare time. 
  <p>
   
  </p>
</section>